
h3 {
    font-size: 20px;
    margin: 12px 0 0 0;
}
.overLay-box {
    position: fixed;
    z-index: 999;
    right: 0px;
    top: 0px;
    height: 93vh;
    width: 30%;
    /* align-items: center; */
    margin: auto;
    display: flex;
    background-color: #fff;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.34);
    padding: 15px 10px;
    flex-direction: column;

    .overlay-header {
        padding: 15px 0;
        width: 100%;
    }

    .overlay-content {
        margin-top: 10px;
        padding: 10px 0;
        width: 100%;
    }
}

.mat-icon {
    cursor: pointer;
}

.fixed-btn-list {
    top: 0px;
    width: 100%;
    position: relative;
    /*background-color: #FFF;*/
   
    padding: 5px 7px;
    
   
    z-index: 99;
   
}

.fixed-btn-list .btn {
    margin-right:10px;
}
.pull-right {
    text-align: right;
}

.approval-chain {
    width: 100%;
    height: 100%;
    padding-top: 25px;
    display: flex;
    justify-content: center;
}

.transparentFullBg {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: block;
}

.width-100 {
    width: 100%;
}

.float-right {
    float: right;
}

.fixed-btn-list span {
    padding: 7px 0 4px 10px;
    font-size: 18px;
    cursor: pointer;
}

button[disabled] {
    opacity: 0.5 !important;
    border-color: #bbb;
    cursor: not-allowed;
    box-shadow: none;
    opacity: .8;
    border-color: #C6C6C6;
    pointer-events: auto;
}
.buttonClass {
    padding: 5px 24px !important;
    margin-left: 15px !important;
}
.padding-0{
    padding:0;
}